h1 Hide Retweets
p 
a.btn.btn-primary.btn-large(href="/sessions/new") Connect To Twitter

div.text.
  <p>Twitter doesn&#8217;t let you hide all retweets without manually turning them off for every account you follow. This is a little app to automate the process (mostly it was an excuse to build something with <a href="http://nodejs.org/">Node.js</a> and <a href="http://expressjs.com/">Express</a>).</p>
  
  <p>That&#8217;s all it does—update the retweets option for each account you follow—and it&#8217;s a one-time thing: it doesn&#8217;t save your credentials or turn retweets off when you follow someone new. If you try it and change your mind, it can turn retweets back on again, too.</p>