!!!
html
  head
    title Hide Retweets
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    div.container
      div.row
        div.span6.offset3
          != body
          div.text.
            <p><a href="/">Hide Retweets</a> by <a href="http://twitter.com/jakepaul">@jakepaul</a>. Source on <a href="https://github.com/jakepaul/hide_retweets">GitHub</a>. <a href="https://github.com/jakepaul/hide_retweets/blob/master/LICENSE.txt">License</a>.</p>