h1 Red Pill, Blue Pill?
p
form(method="post", action="/retweets/hide", style="display: inline;")
  button.btn.btn-primary.btn-large Hide Retweets
form(method="post", action="/retweets/show", style="display: inline; margin-left: 10px;")
  button.btn.btn-danger.btn-large Show Retweets
    